{% extends '::accesos.html.twig'%}

{% block body %}
  <p class="lead">
    Ingresa tu dirección de correo para restablecer tu contraseña. Puede que tengas que ver en tu carpeta de spam o desbloquear no-reply@gainuniversity.com.
  </p>
  {% form_theme form 'ElearnBundle:Form:admin-form.html.twig' %}
  {{ form(form) }}
  <p>
    <a href="{{ path('acl_registro') }}" class="btn btn-link">Registro</a> |
    <strong>
      <a href="{{ path('login') }}">
        Login
      </a>
    </strong>
  </p>
{% endblock %}
