<p>
   Hola {{ entity.nombre }}
</p>
<p>
   Bienvenid@ a mi plataforma de cursos, diplomados y entrenamientos ONLINE<br/>
   donde podrás tener acceso 365 días del año, 7 días de la semana, 24 horas al día.
</p>
<p>
   Estoy muy contento de poder compartir contigo esta nueva etapa de mi vida <br />
   en donde además de haberme formado y estudiado muchos modelos <br />
   tanto científico como no científicos, he desarrollado mis propias teorías y metodologías <br />
   como: Preparación Mental, Preparación Verbal y Psicología Transformacio generativa.
</p>
<p>
   Te invito a que me sigas y compartas conmigo día a día consejos para poner práctica en:
   Facebook: /Prof.GabrielGuerrero
</p>
<p>
   Estudia a tu ritmo y a tu tiempo!
</p>
<p>
   ¡Que lo Disfrutes!
</p>
<p>
   <i>Si tienes algún comentario, no dudes en ponerte en contacto con nosotros:</i>
   <ul>
      <li>Número Gratuito en el interior de la República Mexicana : 01 800 890 44 02</li>
      <li>Tel. 01 (998) 8841304</li>
      <li>Internacional: +52 998 8841304</li>
      <li>Whatsapp: +52 1 998 2422158</li>
      <li>Correo: contacto@gabrielguerrero.com</li>
   </ul>
</p>
