{% extends '::accesos.html.twig'%}

{% block body %}
  <p class="lead">
    {{ usuario }}, hemos enviado un correo electrónico a: <br>
    <span class="badge">{{ email }}</span> con la información necesaria para activar su cuenta.
  </p>
  <p>
    <a href="{{ path('acl_registro_cuenta') }}" class="btn btn-link">Registro</a> |
    <strong>
      <a href="{{ path('login') }}">
        Login
      </a>
    </strong>
  </p>
{% endblock %}
