{% extends '::accesos.html.twig' %}

{% block body %}


<form action method="POST" novalidate="novalidate">
  {{ form_widget(registro_form) }}
  <button type="submit" class="btn btn-default">Enviar</button>
</form>


<p>
  <a href="{{ path('login') }}" class="btn btn-link">Login</a> |
  <strong>
    <a href="{{ path('acl_recuperar') }}">
      ¿No puedes acceder a tu cuenta?
    </a>
  </strong>
</p>
{% endblock %}
