<!DOCTYPE html>
<html>
<head>
	<title>GainUniversity.com</title>
	<meta htt-equiv="Cobtent-Type" content="text/html; charset=utf8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{ asset('assets/bootstrap/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
	<link href="{{ asset('css/accesos.css') }}" rel="stylesheet" type="text/css" />

</head>
<body>

	<div id="wrap-contenido">
		<div class="wrap-logo" >
			<img src="{{ asset('elearnApp.png')}}" alt="" />
		</div>
	<div id="wrapper">
		{% include 'includes/mensajero.html.twig'%}
		{% block body %}
		{% endblock %}
	</div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
	<div class="container text-center">
		<p id="text-bottom">
			Copyright &copy; {{ "now"|date("Y") }} Todos los derechos reservados
		</p>
	</div>
</nav>
<script>

</script>

</body>
</html>
