{% extends '::base.html.twig' %}

{% block body %}
<div id="main-panel">
  <div id="wrap-main-panel">

    <div class="col-md-3">
    <div class="text-center">
      <div class="btn-group text-right" role="group" aria-label="..." ">
        <button type="button" class="btn btn-default"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Módulo</button>
        <a href="{{ path('front_curso', {'id': curso.id })}}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></a>
        <button type="button" class="btn btn-default">Módulo <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></button>
      </div>
    </div>

      {% if modulo %}
      <ul class="list-group nav-modulo">
        {% for item in modulo.secciones %}
          <a href="{{ path('front_modulo', {'curso': curso.id, 'modulo': modulo.id, 'seccion': item.secciones.id}) }}" class="list-group-item {% if item.secciones.id == seccion_id %}active{% endif %}">{{ item.secciones.seccion }}</a>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    <div class="col-md-9">
      {% block contenido %}
      {% endblock %}
    </div>
    </div>
  </div>
</div>
{% endblock %}
