{% extends '::admin.html.twig' %}

{% block title_contenido %} Crear Quiz {% endblock %}

{% block navbar_contenido %}

    <a href="{{ path('admin_quiz') }}" class="btn btn-default">
      <span class="glyphicon glyphicon-chevron-left"></span>
        Regresar
    </a>

{% endblock %}

{% block body_contenido %}

    {{ form(form, {'attr':{'novalidate':'novalidate'}}) }}

    <ul class="record_actions">
      <li>
        <a href="{{ path('admin_quiz') }}">
          Regresar
        </a>
      </li>
    </ul>
{% endblock %}
