{% extends '::admin.html.twig' %}

{% block title_contenido %} Crear Curso {% endblock %}

{% block navbar_contenido %}

    <a href="{{ path('admin_cursos') }}" class="btn btn-default">
      <span class="glyphicon glyphicon-chevron-left"></span>
        Regresar
    </a>

{% endblock %}
{% block body_contenido %}
    <form class="form" action="" method="post" novalidate>
      {{ form_widget(curs_form) }}
      <button type="submit" class="btn btn-success">
          Guardar
          <span class="glyphicon glyphicon-floppy-save"></span>
      </button>
    </form>

{% endblock %}
