{% extends '::perfil.html.twig' %}


{% block contenido %}


<div class="col-md-12">
  <div class="panel panel-default">

    <div class="panel-body">
        <div class="alert alert-success">
            <strong>
                Por favor, verifique que los datos sean correctos
            </strong>
        </div>
        <form class="" action="" method="post" novalidate>
            {{ form_widget(usuarios_form) }}
            <button type="submit" class="btn btn-default">
                Descargar
            </button>
        </form>
  </div>
</div>

{% endblock %}
