{% extends '::perfil.html.twig' %}


{% block contenido %}

  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading"><h1>Datos de perfil</h1></div>
      <div class="panel-body">
          <form class="" action="" method="post" {{ form_enctype(formPerfil) }}>
              {{ form_widget(formPerfil) }}
          </form>

      </div>
      <div class="panel-heading"><h1>Contraseña</h1></div>
      <div class="panel-body">
        {{ form(formPassword, {'attr':{'novalidate':'novalidate'}}) }}
      </div>
    </div>
  </div>
{% endblock %}
