{% extends '::admin.html.twig' %}

{% block body -%}
    <div class="page-header">
      <h1>Crear ítem <small></small></h1>
    </div>

    <ul class="record_actions">
      <li>
        <a href="{{ path('admin_secciones') }}">
          Regresar
        </a>
      </li>
    </ul>
    {% form_theme form 'ElearnBundle:Form:admin-form.html.twig' %}
    {{ form(form, {'attr': {'novalidate':'novalidate'}}) }}
    <ul class="record_actions">
      <li>
        <a href="{{ path('admin_cursos') }}">
          Regresar
        </a>
      </li>
    </ul>
{% endblock %}
