<p>
    Hola <strong>{{ nombre }}</strong>
</p>

<p>
    Bienvenid@ al modulo {{ modulo }}
</p>

<p>
    {{ mensaje }}
</p>

<p>
    Desde ahora el está abierto. ¡Que lo disfrutes!
</p>
<p>
    Saludos,
</p>

<p>
    ---
    Gabriel Guerrero
</p>
