{% extends '::admin.html.twig' %}

{% block title_contenido %}

Crear Role

{% endblock %}

{% block navbar_contenido %}
    <a href="{{ path('roles') }}" class="btn btn-default">
    <span class="glyphicon glyphicon-chevron-left"></span>
    Regresar

    </a>
    <a href="{{ path('roles_new') }}" class="btn btn-default">
      <span class="glyphicon glyphicon-plus-sign"></span>
      Crear Role
    </a>

{% endblock %}

{% block body_contenido %}
  

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('roles') }}">
            Regresar
        </a>
    </li>
</ul>
{% endblock %}
